services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGREES_ROOT_PASSWORD: postgres
      POSTGRES_DB: notification
    ports:
      - "5432:5432"